<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Formulario de ingreso</title>
    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/usuario.css')}}"
    />
  </head>
  <body class="bodyUsuarios">
    <div class="container mt-5">
      <div class="row justify-content-center">
        <div class="col-md-4">
          <div class="card">
            <div class="card-header text-center">
              <body>
                <div>
                    
                
                <h2>Registro</h2>
                <form  action="{{url_for('registro')}}" method="post">
                  <div class="form-group">
                    <label type="text" class="form-group">Usuario</label>

                    <input
                      type="text"
                      class="form-control"
                      name="username"
                      required
                      placeholder="Usuario"
                    />
                  </div>
                  <div class="form-group">
                    <label type="text" required>Password</label>
                    <input
                      type="password"
                      name="password"
                      class="form-control"
                      placeholder="Senha"
                    />
                  </div>
                  <div class="form-group form-check"></div>
                  <button type="submit" class="btn btn-primary">
                    Registrar
                  </button>
                </div>

                <div>
                </form>
                <hr />
                
                <hr>
                <h2>Inicio de Sesión</h2>
                <form action="{{url_for('login')}}" method="post">
                  <div class="form-group">
                    <label type="text" class="form-group">Usuario</label>

                    <input
                      type="text"
                      class="form-control"
                      name="username"
                      required
                      placeholder="Usuario"
                    />
                  </div>
                  <div class="form-group">
                    <label type="text" name="username" required>Password</label>
                    <input
                      type="password"
                      name="password"
                      class="form-control"
                      placeholder="Senha"
                    />
                  </div>
                  <div class="form-group form-check"></div>
                  <button type="submit" class="btn btn-primary">
                    Ingresar
                  </button>
                </form>
                {% with messages = get_flashed_messages() %} {% if messages %}
                {% for message in messages %} {{ message }} {% endfor %} {%
                endif %} {% endwith %}
              </body>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
<!-- <form action="{{url_for('registro')}}" method="post">
    <label>Nombre de usuario</label>
    <input type="text" name="username" required />
    <label>Contraseña</label>
    <input type="password" name="password" required />
    <button type="submit">Registrar</button>
  </form> -->
